<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
	<listener class-name="whitefeather.xedge.testreports.listener.RealTimeTestResultListener" />
	</listeners>
	<test name="Staging QA Test Validations">
  		<parameter name="browser" value="Chrome"/>
		<parameter name="loginPageUrl" value="https://extraaedge-stagingwebsite-qa.azurewebsites.net/"/>
<!-- 		<parameter name="loginPageUrl" value="https://extraaedgev2.azurewebsites.net/"/> -->
		<classes>
			<class name="whitefeather.xedge.testcases.OpenLoginPage">
			<methods><include name="openLoginPage"></include></methods></class>
			
			<!-- <class name="whitefeather.xedge.testcases.ForgotPassword">
			<methods>
			<include name="openForgotPasswordWindow"/>
			<include name="verifyCompanyLogo"/>
			<include name="verifyRecoveryLabel"/>
			<include name="verifyRecoveryMessage"/>
			<include name="verifyEmailInputBox"/>
			<include name="verifyLoginLink"/>
			<parameter name="recoveryEmail" value="counselorshekhar@gmail.com"/>
			<include name="enterRecoveryEmail"/>
			</methods></class> -->
			
			<class name="whitefeather.xedge.testcases.PerformLoginAction" >
			<methods>
			<!-- <include name="verifyLoginPageBackground"/>
			<include name="verifyClientAccountLogo"/>
			<include name="verifyUsernameLabel"/>
			<include name="verifyUsernamePlaceholder"/>
			<include name="verifyPasswordLabel"/>
			<include name="verifyPasswordPlaceholder"/> -->
			<include name="verifyUsernameInputField"/>
			<include name="verifyPasswordInputField"/>
			<include name="verifyPasswordWrapper"/>
			<parameter name="_username" value="counselorshekhar@gmail.com"/>
			<parameter name="_password" value="test"/>
			<include name="enterLoginId"/>
			<include name="enterLoginPassword"/>
			<include name="verifyLoginButton"/>
			<include name="clickLoginButton"/>
			</methods>
			</class>
			
			<class name="whitefeather.xedge.testcases.Refresh_Page" >
			<methods><include name="refreshWebPage"></include></methods></class>
			
			<!-- <class name="whitefeather.xedge.testcases.VerifyGlobalIcons" >
			<methods>
			<include name="verifyCompanyLogoInHeader"/>
			<include name="verifyGoButtonInGlobalSearchBar"/>
			<include name="verifyOutStandingActivityIcon"/>
			<include name="verifyOutStandingActivityCount"/>
			<include name="verifyCounselorName"/>
			<include name="verifyCounselorPhoto"/>
			<include name="verifySignOutLink"/>
			<include name="verifyBulkUploadIcon"/>
			<include name="verifyAddLeadPlusIcon"/>
			<include name="verifyJoyRideButton"/>
			</methods></class> -->
			
			<class name="whitefeather.xedge.testcases.OpenAddLeadRHSPanel">
			<methods><include name="clickAddLeadPlusIcon"></include></methods></class>
			
			<class name="whitefeather.xedge.testcases.AddNewLeadDefaultValues_1">
			<methods>
			<include name="enterProspectEmailID"/>
			<include name="enterProspectMobileNo"/>
			<!-- <include name="selectActivityType"/>
			<include name="addActivityComment"/> -->
			<include name="clickAddLeadButton"/>
			</methods></class>
			
			<class name="whitefeather.xedge.testcases.Refresh_Page" >
			<methods><include name="refreshWebPage"></include></methods></class>
			
			<class name="whitefeather.xedge.testcases.GlobalSearch">
			<methods>
			<include name="verifyGlobalSearchBar"/>
			<include name="verifyGlobalSearchPlaceholder"/>
			<include name="verifyLenseIcon"/>
			<include name="verifyGoButton"/>
			<include name="performGlobalSearch1"/>
			</methods></class>
			
			<!-- <class name="whitefeather.xedge.testcases.Refresh_Page" >
			<methods><include name="refreshWebPage"></include></methods></class> -->
			
			<!-- <class name="whitefeather.xedge.testcases.UpcomingTasks">
			<methods>
			<include name="verifyDashboardURL"/>
			<include name="verifyRecentNewTabIsDisplayed"/>
			<include name="verifyRecentNewTabCount"/>
			</methods></class> -->
			
		</classes>
	</test>
	
</suite> 